@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input, select, textarea {
    @apply w-full p-3 border border-gray-300 rounded-lg 
           focus:outline-none focus:ring-2 focus:ring-indigo-500 
           transition-all;
  }
}